
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <div style="text-align:center" class="body">
    <h1>Angular Application</h1>
   
  
  <style>
   
    /* Style the body */
    .body {
      font-family: Arial;
      margin: 10;
      background:#FFDAB9;
      color: #039be5;
      font-size: 15px;
    }
    
  
    .content {padding:0px;}
    </style>
 
  <nav>
    <a routerLink="/Home" routerLinkActive="active">Home</a>
    <a routerLink="/Aboutus" routerLinkActive="active">Aboutus</a>
    <a routerLink="/Contact" routerLinkActive="active">Contact</a>
  </nav>



<div style="text-align:center" >
<h2>
 Currency Converter {{amount | currency: format }}
 <button (click)="toggleINRandUSD()"><h4>Toggle Currency</h4></button>
</h2>
 
<h2>
  Uppercase Conversion
</h2> 
 {{Info.name | uppercase}}
	       <!--<p> [textContent] ="address.district | uppercase" > </p> -->
	       <input (input) = "setData($event.target.value)">
               {{inputData | uppercase}}


<h2>
  Lowercase Conversion
</h2> 
 {{Info.name | lowercase}}
	       <!--<p> [textContent] ="address.district | uppercase" > </p> -->
	       <input (input) = "setDatalower($event.target.value)">
               {{ lowerData | lowercase}} 

</div>
</div>
<!--<div style="margin-top: 250px; overflow-y: hidden ;">footer</div>-->
<div style="margin-top: 100px; overflow-y: hidden ;"><p customdirective> #LoveTwitter </p><p>I #LoveTwitter because it is a place for all opinions to be heard, and I want to help that idea spread across the world<p></p></div>