<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
   
</div>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <div style="text-align:center" class="header">
    <h1>Angular Application</h1>
   

  <style>
    /* Style the body */
    body {
      font-family: Arial;
      margin: 10;
    }
    
    /* Header/Logo Title */
    .header {
      padding: 10px;
      text-align: center;
      background:#FFDAB9;
      color: #039be5;
      font-size: 30px;
    }
    
    /* Page Content */
    .content {padding:0px;}
    </style>
 
  <nav>
    <a routerLink="/Home" routerLinkActive="active">Home</a>
    <a routerLink="/Aboutus" routerLinkActive="active">Aboutus</a>
    <a routerLink="/Contact" routerLinkActive="active">Contact</a>
  </nav>
 -->

  
  
  
  <router-outlet></router-outlet> 