
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <div style="text-align:center" class="body">
    <h1>Angular Application</h1>
   

  <style>
    /* Style the body */
    .body {
      font-family: Arial;
      margin: 10;
      background:#FFDAB9;
      color: #039be5;
      font-size: 15px;
      height: 100%;
    }
    
    /* Page Content */
    .content {padding:0px;}
    </style>
 
  <nav>
    <a routerLink="/Home" routerLinkActive="active">Home</a>
    <a routerLink="/Aboutus" routerLinkActive="active">Aboutus</a>
    <a routerLink="/Contact" routerLinkActive="active">Contact</a>
  </nav>


    <div style="text-align:center" class="body">
    <h2>Date Pipe </h2>
    <h4>1. Today is {{today}}</h4>
    <h4>2. Today is {{today | date}}</h4>
    <h4>3. Today is {{today | date:"dd/MM/yyyy"}}</h4>
 
</div>

</div>


    <!--<div style="margin-top: 250px; overflow-y: hidden ;">footer</div> -->
    <div style="margin-top: 100px; overflow-y: hidden ;"><p customdirective> #LoveTwitter </p><p>I #LoveTwitter because it is a place for all opinions to be heard, and I want to help that idea spread across the world<p></p></div>
        